<div>
    <div className="topnav" ng-controller="HeaderCtrl">
        <h1 id="title">KHSOOSI</h1>
        <input className="signbtn" type="button" ng-click='openModal()' />
        <input className="signbtn" type="button" ng-click='closeModal()' />
    </div>
    <img
        id="img"
        src="https://www.trentu.ca/english/sites/trentu.ca.english/files/styles/header_image/public/header_images/header_creative_writing2.jpg?itok=qqMcjzSZ"
    />
    <Modal
        visible='$scope.SignUp'
        width="600"
        height="350"
        effect="fadeInDown"
        ng-click="closeModal()"
    >
        <div>
            <signup
            closeModal='closeModal'
            openModal='openModal'
            />
        </div>
    </Modal>
    <Modal
        visible='$scope.Login'
        width="400"
        height="300"
        effect="fadeInDown"
        onClickAway='closeModal()'
    >
        <div>
            <Login onLogin="onLogin()" closeModal="closeModal()"/>
        </div>
    </Modal>
</div>