<div>
    <span class="form-group">
        <label>User Name:</label>
        <input
            class="form-control"
            type="text"
            placeholder="user name"
            ng-model="username"
        />
        
        <label>Email</label>
        <input
            
            class="form-control"
            type="text"
            placeholder="email"
            ng-model="email"
        />
        <label>Phone Number:</label>
        <input
            class="form-control"
            type="text"
            placeholder="phone"
            ng-model="phone"
        />
        <label>Location:</label>
        <input
            class="form-control"
            type="text"
            placeholder="location"
            ng-model="location"
        />
        <label>Subject Level:</label>
        <input
            class="form-control"
            type="text"
            placeholder="subjectLevel"
            ng-model="subjectLevel"
        />
        <label>Subject Name:</label>
        <input
            class="form-control"
            type="text"
            placeholder="subjectName"
            ng-model="subjectName"
        />
        <label>Summary:</label>
        <input
            class="form-control"
            type="text"
            placeholder="summary"
            ng-model="summary"
        />
        <label>Upload your image:</label>
        <ImageUpload changeImg="changeImg" ng-model="imgUrl" />

        <label>Upload your CV:</label>
        <CVUpload changeCV="changeCV"/>
        <Schedule changeSchedules="changeSchedules" schedules="$ctrl.schedules" />
        <!-- <Confirm current_teacherId="current_teacherId" /> -->
        <button class="updateBtn" ng-click="updateInfo()">
            Update
        </button>

        <label>{{updatedmsg}}</label>
    </span>
</div>