<form className="sign" ng-controller="rateController">
  <div className="form-group" >
  <h2>Give your teacher feedback :</h2>
  <input
    className="form-control"
    type="text"
    placeholder="testimonial"
    ng-model='ratingText'
  />
  <input
    className="form-control"
    type="number"
    placeholder="rate"
    min={0}
    max={10}
    ng-model='rate'
  />
  </div>
  <button className="btn btn-primary" ng-Click='rating()' >submit</button>
  <label id="rateMessage" ng-controller='rateController'>{{rateMessage}}</label>
</form>