<div id="content" ng-controller="MainCtrl">

    <input type='text' ng-model='location' placeholder="Search a location " />

    <input type='text' ng-model='subject' placeholder="Search a subject " />

    <input type='text' ng-model='level' placeholder="Search a level " />
    
    <button class="btn btn-primary" ng-click="search()"> Search </button>

        <ul>
                <div class="card"  ng-repeat='person in people'>
                    <img ng-src="{{person.img}}" height="100px"/>
                    <h2>Name: {{person.name}}</h2>
                    <h3>Location: {{person.location}}</h3>
                    <h3>Level: {{person.level}}</h3>
                </div>

        </ul>

</div>

